@use '../helpers' as *;

.navbar {
  background: $black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;

  .logo {
    @include gradient-text($blue-green, $blue);
    @extend %align-center;
    pointer-events: none;
    text-decoration: none;
    font-size: 2rem;
    margin-left: $margin-navbar-ends;
  }

  & &-menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    transition: all 0.3s;

    @include tablet {
      opacity: 0;
      display: flex;
      max-height: 0px;
      overflow: hidden;
      visibility: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      flex-direction: column;
      margin-right:-100%;
      
      &-links{
        display: block;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 14px;
        margin-bottom: 10px;
      }

      &.active{
        opacity: 1;
        max-height: 500px;
        right:0;
        margin-right: 0%;
        border-top: 3px $blue-green solid;
        border-bottom: 3px $blue-green solid;
        background:$black;
      }
    }

    &-links {
      color: $blue;
      @extend %align-center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;
    }

    &-links:hover {
      color: $white;
      transition: all 0.3s;
    }

    &-links.active{
      color: $white;
    }

    #button {
      @extend %buttons;
      border: none;
      margin-left: 30px;
      margin-right: $margin-navbar-ends;

      &:hover {
        background: $blue;
      }
    }
  }

  & &-mobile{
    @extend %align-center;
    justify-content: center;
    flex-direction: column;
    display: none;
    @include tablet{
      display: flex;
    }
    span{
      display: block;
      height: 4px;
      width:40px;
      margin: 4px;
      margin-right: $margin-navbar-ends;
      background: $blue-green;
    }
    &:hover, &.active{
      span{
        background: $blue;
        transition: all 0.3s;
      }
    }
  }
}