$black: #172026;
$blue: #5FCDD9;
$blue-green: #027373;
$light-green: #04BFAD;
$green: #04BF9D;
$white: #EEEEEE;

$background-color: $black;
$element-color: $blue;
$element-second-color:$light-green;
$element-third-color:$blue-green;
$element-fourth-color:$green;
$font-color: $white;