//------------COLORS---------------
$black: #172026;
$blue: #5FCDD9;
$blue-green: #027373;
$light-green: #04BFAD;
$green: #04BF9D;
$white: #EEEEEE;
$gray: #222831;

$radius-button: 5px;
$margin-navbar-ends: 24px;
$padding-hero: 24px;