// Your custom variables

// $theme-colors: (
//     "color_1": #22577A,
//     "color_2": #38A3A5,
//     "color_3": #57CC99,
//     "color_4": #80ED99,
//     "color_5": #C7F9CC,
// );


$color1: #22577A;
$color2: #38A3A5;
$color3: #57CC99;
$color4: #80ED99;
$color5: #C7F9CC;


// @import "bootstrap";